{% extends "writable/base.html" %}

{% from "downloads.html" import list_downloads %}
{% from "forms.html" import form_field, form_chosen_js %}

{% block content %}
    {{ form_chosen_js() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">Chorales Exercise Generator</h1>
    </header>

    <p><i>Part of <a href="/cut-outs">Cuts Outs</a></i></p>

    <p>This generates music theory completion exercises based on Bach chorales.</p>

    {{ list_downloads(download) }}

    <form action="" method="post">
      {{ form.hidden_tag() }}

        {{ form_field(form.originalScore, fieldClasses="chosen") }}
        {{ form_field(form.beatsToCut) }}
        {{ form_field(form.partsToCut) }}
        {{ form_field(form.shortScore) }}

        <div class="form-actions">
            <a class="btn btn-default" href="/apps/chorales">Reset</a>
            {{ form.submit(class_='btn btn-primary') }}
        </div>
    </form>
{% endblock %}
