{% macro form_field(field, size=None) %}
    {% if field.errors %}
        {% set fieldClasses = "field-error" %}
    {% else %}
        {% set fieldClasses = "" %}
    {% endif %}

    <div class="form-field">
        {{ field.label }}

        {% if field.description %}
        <div class="description">{{ field.description }}</div>
        {% endif %}

        {{ field(size=size, class_=fieldClasses) }}

        {% if field.errors %}
        <ul class="form-errors">
            {% for error in field.errors %}
            <li class="form-error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{%- endmacro %}