{% extends "base/form-base.html" %}

{% from "macros/forms.html" import form_field %}

{% block page_title %}
  Lieder Exercise Generator
{% endblock %}

{% block page_description %}
  <p>This generates music theory completion exercises based on Romantic songs.</p>
{% endblock %}

{% block form_fields %}
  {{ form_field(form.originalScore, fieldClasses="chosen") }}
  {{ form_field(form.preserveRestBars) }}
  {{ form_field(form.restLength) }}
  {{ form_field(form.preserveBass) }}
  {{ form_field(form.addition) }}
  {{ form_field(form.harmonicRhythm) }}

  <script type="text/javascript" src="{{ url_for('static', filename='lieder-form.js') }}"></script>
{% endblock %}
