{% macro form_field(field, fieldClasses="") %}
    {% if field.errors %}
        {% set fieldClasses = fieldClasses + " field-error" %}
    {% endif %}

    <div class="form-field">
        {{ field.label }}

        {% if field.description %}
        <div class="description">{{ field.description }}</div>
        {% endif %}

        {{ field(class_=fieldClasses) }}

        {% if field.errors %}
        <ul class="form-errors">
            {% for error in field.errors %}
            <li class="form-error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{%- endmacro %}
{% macro form_js() %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.min.css" integrity="sha256-J/z1NCedBCQqHE3FqpU/+0Ilx+vmhF6uPSv2BFF7kbI=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js" integrity="sha256-JJIYEYr/UCcobDVIeUx7xk+rBlTz04PywjNQf7fMg2Y=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='forms.js') }}"></script>
{%- endmacro %}
