.form-field, .form-actions {
    margin: 10px 0 20px 0;
}
label {
    font-size: 1.2em;
}
input, select {
    font-size: 1em;
    margin: 5px 0;
    padding: 3px 5px;
    max-width: 100%;
}
.description {
    color: #333333;
}

input.field-error, .field-error input {
    border-color: red;
}

.error {
    color: red;
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.form-field ul {
    list-style-type: none;
}

ul.form-errors {
    color: red;
    display: inline-block;
    list-style-type: none;
    margin: 5px;
    padding: 0;
}
li.form-error {
    display: inline;
    padding: 0 5px;
    margin: 0;
}

.chosen-container {
  font-size: 1em;
  max-width: 100%;
}
.chosen-container .chosen-single {
  font-family: sans-serif;
  background: #fff;
}

.result {
  border: 2px solid #ccc;
  border-width: 2px 0;
  margin: 30px 10px;
  padding: 10px;
}
ul.file-downloads {
  list-style-type: none;
}
.file-downloads li:before {
  content: '⬇️ ';
  display: inline;
}

textarea {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    max-width: calc(100% - 30px);
    height: 10em;
    max-height: 90vh;
}
