{% extends "base/form-base.html" %}

{% from "macros/forms.html" import form_field %}

{% block page_title %}
  Chorales Exercise Generator
{% endblock %}

{% block page_description %}
  <p><i>Part of <a href="/cut-outs">Cut Outs</a></i></p>
  <p>This generates music theory completion exercises based on Bach chorales.</p>
{% endblock %}

{% block form_fields %}
  {{ form_field(form.originalScore, fieldClasses="chosen") }}
  {{ form_field(form.beatsToCut) }}
  {{ form_field(form.partsToCut) }}
  {{ form_field(form.shortScore) }}
{% endblock %}
