[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"music21" = "*"
flask = "*"
gevent = "*"
natsort = "*"
flask-wtf = "*"
pathlib = "*"
jsonlines = "*"

[dev-packages]

[requires]
python_version = "3.7"
