[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gevent = "*"
natsort = "*"
flask-wtf = "*"
pathlib = "*"
jsonlines = "*"
werkzeug = "*"
music21 = "*"

[dev-packages]

[requires]
python_version = "3.12"
